---
---
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ page.title | default: site.title }} | {{ site.title }}</title>

  <!-- CSS principal -->
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
  <header class="site-header">
  <a href="{{ '/' | relative_url }}" class="brand" aria-label="{{ site.title }}">
    <img src="{{ site.logo | relative_url }}?v={{ site.time | date: '%s' }}" alt="{{ site.title }}" width="180" height="40">
  </a>
  <nav>
  <a href="{{ '/' | relative_url }}">Início</a>
  <a href="{{ '/blog' | relative_url }}">Blog</a>
  <a href="{{ '/utilitarios' | relative_url }}">Utilitários</a>
  <a href="{{ '/about' | relative_url }}">Sobre</a>
</nav>
</header>



  {{ content }}

  <footer>
    © {{ site.title }} — {{ "now" | date: "%Y" }}
  </footer>
</body>
</html>
